<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Explore link (left, next to brand) -->
    <a class="nav-link d-none d-md-block" href="/listings" style="font-weight:500; color:#222; margin-right: 50px; margin-left: 12px;">Explore</a>

    <!-- Search Bar (center) -->
    <form action="/listings" method="GET" class="search-form" id="searchForm">
      <div class="search-box">
        <input
          type="text"
          name="search"
          id="searchInput"
          class="search-input"
          placeholder="Search destinations, cities..."
          autocomplete="on"
          value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>"
        >
        <div class="search-divider"></div>
        <button type="submit" class="search-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Explore shown in mobile collapse menu too -->
      <div class="navbar-nav d-md-none">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Become a Host</a> &nbsp &nbsp &nbsp 
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a> &nbsp &nbsp 
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser){ %>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% } %>
      </div>

    </div>

  </div>
</nav>
