<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h2>All Listings..</h2>
    <form action="/listings/new" method="GET"><button>Add a new listing</button></form>
    <ul>
    <%for(let Listing of allListings){ %>
        <li><a href="/listings/<%= Listing._id %>"><%=Listing.title%></a></li>
    <%}%>
</ul>
</body>
</html>
