<% layout("layouts/boilerplate") %>
</head>
<body>
    <h2>Create a new listing..</h2>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="enter title" type="text"> <br><br>
        <textarea name="listing[description]" placeholder="write description" rows="10" cols="50">  </textarea>  <br><br>
        <input name="listing[image]" placeholder="enter the image url / link" type="text">  <br><br>
        <input name="listing[price]" placeholder="enter price" type="number">  <br><br>
        <input name="listing[location]" placeholder="enter location" type="text"> <br><br>
        <input name="listing[country]" placeholder="enter country" type="text"> <br><br>
        <button>Add</button>
    </form>
</body>
