/* body */
body{
    font-family: "plus jakarta-sans ", sans-serif !important;
}


/* navbar */
.navbar{
    height: 4.5rem;
    background-color: white;
}

 /* logo */
.fa-compass{
    color: #fe422d;
    font-size: 1.7rem;
}

/* navbar options */
.nav_link{
    color: black !important;
}
 /* footer */
.f-info-links a{
    text-decoration:none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration:underline;
}
.f-info-links , .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i{
    font-size: 1.2 rem;
    margin-right: 0.6rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 6rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}


/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none !important;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* add listing form  */
.btn{
    background-color: #fe422d !important;
    border: none !important;
    width: 7rem;
}
.text-center{
    color: black !important;
}

/* show listing in detail */

.show-img {
    border-radius: 15px;
    object-fit: cover;
}

.btn-danger {
    background-color: #ff4d4d !important;
    border: none !important;
}

.btn-dark {
    background-color: #222 !important;
    border: none !important;
}
